﻿#bg{
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
}
.bordes{
	border-radius: 20px 20px 20px 20px;
	-moz-border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
	border: 2px solid #e0e0e0;
	margin-top:150px;
	margin-left:150px;
	background-color:white;
}
.bordesboton{
	border-radius: 0px 0px 20px 20px;
	-moz-border-radius: 0px 0px 20px 20px;
	-webkit-border-radius: 0px 0px 20px 20px;
	border: 2px solid #e0e0e0;
}
.boton{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	outline: none;
	/*transition: all 0.75s ease-in-out;*/ /*-webkit-transition: all 0.75s ease-in-out;*/ /*-moz-transition: all 0.75s ease-in-out;*/border-radius: 3px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 3px;
	border: 1px solid rgba(0,0,0, 0.2);
	background-color: #eee;
	padding: 3px;
	box-shadow: 0 0 10px #aaa;
	-webkit-box-shadow: 0 0 10px #aaa;
	-moz-box-shadow: 0 0 10px #aaa;
	border: 1px solid #999;
	background-color: white;
	text-align: center;
}
.resplandor{
	font-size:14px;
    font-family: Arial, helvetica;
    outline:none;
    /*transition: all 0.75s ease-in-out;*/
    /*-webkit-transition: all 0.75s ease-in-out;*/
    /*-moz-transition: all 0.75s ease-in-out;*/
    border-radius:3px;
    -webkit-border-radius:6px;
    -moz-border-radius:3px;
    border:1px solid rgba(0,0,0, 0.2);
    color:gray;
    background-color:#eee;
    padding: 3px;
    box-shadow: 0 0 10px #aaa;
    -webkit-box-shadow: 0 0 10px #aaa;
    -moz-box-shadow: 0 0 10px #aaa;
    border:1px solid #999;
    background-color:white;
}
.validaciones{
	font-size:14px;
	font-family: Arial, helvetica;
	outline:none;
	/*-webkit-transition: all 0.75s ease-in-out;*/
	-moz-transition: all 0.75s ease-in-out;
	border-radius:3px;
	-webkit-border-radius:6px;
	-moz-border-radius:3px;
	border:1px solid rgba(0,0,0, 0.2);
	color:maroon;
	background-color:#eee;
	padding: 3px;
}
.ok{
	font-size:14px;
    font-family: Arial, Helvetica, sans-serif;
    outline:none;
    border-radius:3px;
    -webkit-border-radius:6px;
    -moz-border-radius:3px;
    border:1px solid rgba(0,0,0, 0.2);
    color:green;
    background-color:#eee;
    padding: 3px;
    text-align:center;
}