﻿* {margin:0;padding:0}
html,body {height:100%}
body {font-family:Arial, Helvetica, sans-serif;font-size:100%;line-height:1em;color:#404141}
input,select,textarea {font-family:Tahoma,Geneva,sans-serif;font-size:1em}
.fleft {float:left}
.fright {float:right}
.clear {clear:both}
.alignright {text-align:right}
.aligncenter {text-align:center}
.wrapper {width:100%;overflow:hidden;text-align:center}
.container {width:100%}
p {margin-bottom:16px}
/* forms */
input,select {vertical-align:middle;font-weight:normal}
img {border:0;vertical-align:top;text-align:left}
object {vertical-align:top}
#contacts-form {clear:right;width:100%;overflow:hidden}
#contacts-form fieldset {border:none;float:left}
#contacts-form .field {clear:both;padding-bottom:7px;width:100%;overflow:hidden}
#contacts-form label {float:left;width:79px;color:#2cb6e9;font-weight:bold}
#contacts-form input {width:240px;padding:2px 0 2px 3px;border:1px solid #d9d9d9;background:none}
#contacts-form textarea {width:790px;height:192px;border:1px solid #d9d9d9;background:none;padding:2px 0 2px 3px;margin-bottom:15px;overflow:auto}
#contacts-form .button {width:150px;float:right}
/* list */
ul {list-style:none}
.list1 li {padding-bottom:32px}
.list1 li p {margin-bottom:6px}
.list1 li a {font-weight:bold}
.list2 {padding:4px 0 10px 0}
.list2 li {width:100%;overflow:hidden;padding-bottom:20px}
.list2 li.last {padding-bottom:0 !important}
.list2 li img {float:left;margin-right:20px}
.list2 li h5 {padding-top:6px}
.list2 li h6 {padding-top:15px}
.list3 li {list-style-type:disc;list-style-position:inside;padding-bottom:15px}
.list3.color1 li {color:#58b01f}
.list3.color2 li {color:#ff8002}
.list3.color3 li {color:#f32e10}
.list3 li span {color:#404141 !important}
.list4 dt {font-weight:bold;margin-bottom:16px;color:#2cb6e9}
.list4 dd {padding-bottom:16px}
.carousel {width:100%;overflow:hidden}
.carousel li {float:left;margin-right:15px}
.carousel li.prev {margin-right:17px;padding-top:74px}
.carousel li.next {margin-right:0;padding-top:74px}
.phones-list li {width:100%;overflow:hidden;padding-bottom:16px}
.phones-list li strong {float:left;width:69px;color:#2cb6e9}
/* other */
.img-indent {margin:0 20px 0 0;float:left}
.img-indent.fright {float:right;margin:0 0 0 20px}
.img-indent.alt {margin-bottom:30px}
.img-box {width:100%;overflow:hidden;padding-bottom:20px}
.img-box img {float:left;margin:0 20px 0 0}
.extra-wrap {overflow:hidden}
/* txt,links,lines,titles */
a {color:#2cb6e9;outline:none}
a:hover{text-decoration:none}
h1 {font-size:3em;line-height:1em;font-family:Arial, Helvetica, sans-serif;color:#fff;font-weight:normal;letter-spacing:-1px;width:400px;margin-bottom:42px}
h2 {font-family:Arial, Helvetica, sans-serif;font-size:22px;line-height:1em;font-weight:normal;margin-bottom:23px;color:#515151}
h2.alt {letter-spacing:-1px}
h3 {font-family:Arial, Helvetica, sans-serif;font-size:1.5em;line-height:1.1em;margin-bottom:10px}
h4 {font-size:.91em;margin-bottom:10px}
h4 strong {font-size:1.1em;color:#2cb6e9;display:block}
h5 {font-size:1em;margin-bottom:5px}
h6 {font-size:1em;font-weight:normal}
.txt1 {color:#2cb6e9}
/* header */
#header .row-1 {height:137px}
#header .logo {float:left;padding:22px 0 0 10px}
#header .obra {float:left;padding:60px 0 0 90px}
.inputs{
	font-size:14px;
    font-family: Arial, Helvetica, sans-serif;
    outline:none;
    border-radius:3px;
    -webkit-border-radius:6px;
    -moz-border-radius:3px;
    border:1px solid rgba(0,0,0, 0.5);
    padding: 3px;
}
#header .top-links {float:right;padding:45px 35px 0 0}
#header .top-links li {float:left;margin-left:8px}
#header .nav-box {background:url(../images/nav-box-bg.jpg) left top repeat-x;width:100%}
#header .nav-box .left {background:url(../images/nav-box-left.jpg) no-repeat left top}
#header .nav-box .right {background:url(../images/nav-box-right.jpg) no-repeat right top;height:47px}
/* header navigation */
#header .nav-box ul {font-family:Arial, Helvetica, sans-serif}
#header .nav-box ul li {display:inline}
#header .nav-box ul li a {display:block;float:left;color:#fff;text-decoration:none}
#header .nav-box ul li a em {display:block;float:left;font-style:normal}
#header .nav-box ul li a em b {display:block;float:left;height:47px;line-height:47px;width:181px;text-align:center;cursor:pointer}
#header .nav-box ul li a:hover {background:url(../images/nav-act.jpg) left top repeat-x;z-index:9000}
#header .nav-box ul li a.current {background:url(../images/nav-act.jpg) left top repeat-x}
#header .nav-box ul li a.current b {background:url(../images/divider-right-act.jpg) no-repeat right 10px}
#header .nav-box ul li a.first em {background:none}
#header .nav-box ul li a.first:hover em {background:url(../images/nav-left-act.jpg) no-repeat left top;z-index:9003}
#header .nav-box ul li a.first-current {background:url(../images/nav-act.jpg) left top repeat-x}
#header .nav-box ul li a.first-current em {background:url(../images/nav-left-act.jpg) no-repeat left top !important}
#header .nav-box ul li a.first-current b {background:url(../images/divider-right-act.jpg) no-repeat right 10px}
#header .nav-box ul li a.last b {background:none;width:175px}
#header .nav-box ul li a.last:hover b {background:url(../images/nav-right-act.jpg) no-repeat right top;z-index:9004}
#header .nav-box ul li a.last-current {background:url(../images/nav-act.jpg) left top repeat-x}
#header .nav-box ul li a.last-current em {background:url(../images/divider-left-act.jpg) no-repeat left 10px}
#header .nav-box ul li a.last-current b {background:url(../images/nav-right-act.jpg) no-repeat right top !important;width:175px}	

/*SUBMENU*/
#header .nav-box ul ul{margin:0;padding:0;list-style:none;}
#header .nav-box ul li ul {display:none}
#header .nav-box ul li:hover ul {display:block}
#header .nav-box ul li ul { position:absolute; top:182px }
#header .nav-box ul li ul li a { width:175px;float:none;background:url(../images/nav-box-bg.jpg) left top repeat-x;color:white}
#header .nav-box ul li ul li a b { background:url(../images/nav-box-bg.jpg) left top repeat-x;width:175px }
#header .nav-box ul li ul li a:hover b { background:url(../images/nav-act.jpg) left top repeat-x }

#header .nav-box .grupo {float:left;}
        
/* content */
#content {padding:0 0 20px 0;background:#fff}
#content .section {padding-bottom:20px}
#content .button {background:url(../images/button-bg.gif) left top repeat-x;display:block;text-align:center;font-family:Arial, Helvetica, sans-serif;color:#fff;text-decoration:none;text-transform:uppercase}
#content .button em {display:block;font-style:normal;background:url(../images/button-left.gif) no-repeat left top}
#content .button em b {display:block;height:35px;line-height:35px;background:url(../images/button-right.gif) no-repeat right top;cursor:pointer}
#content .button:hover {color:#000}
#content .button1 {background:url(../images/button1-bg.gif) left top repeat-x;display:block;text-align:center;font-family:Arial, Helvetica, sans-serif;color:#fff;text-decoration:none;text-transform:uppercase}
#content .button1 em {display:block;font-style:normal;background:url(../images/button1-left.gif) no-repeat left top}
#content .button1 em b {display:block;height:35px;line-height:35px;background:url(../images/button1-right.gif) no-repeat right top;cursor:pointer}
#content .button1:hover {color:#000}
#content .button2 {background:url(../images/button2-bg.gif) left top repeat-x;display:block;text-align:center;font-family:Arial, Helvetica, sans-serif;color:#fff;text-decoration:none;text-transform:uppercase}
#content .button2 em {display:block;font-style:normal;background:url(../images/button2-left.gif) no-repeat left top}
#content .button2 em b {display:block;height:35px;line-height:35px;background:url(../images/button2-right.gif) no-repeat right top;cursor:pointer}
#content .button2:hover {color:#000}
#content .button3 {background:url(../images/button3-bg.gif) left top repeat-x;display:block;text-align:center;font-family:Arial, Helvetica, sans-serif;color:#fff;text-decoration:none;text-transform:uppercase}
#content .button3 em {display:block;font-style:normal;background:url(../images/button3-left.gif) no-repeat left top}
#content .button3 em b {display:block;height:35px;line-height:35px;background:url(../images/button3-right.gif) no-repeat right top;cursor:pointer}
#content .button3:hover {color:#000}
.ic, .ic a {border:0;float:right;background:#f00;color:#f00;width:50%;line-height:10px;font-size:10px;margin:-50% 0 0 0;overflow:hidden;padding:0}
.main-banner-big {background:url(../images/main-banner-big.jpg) no-repeat left top;width:950px;height:303px;margin-bottom:20px}
.main-banner-big .inner {padding:70px 0 0 52px}
.main-banner-big .button {background:url(../images/button.jpg) no-repeat left top !important;width:170px;height:36px;line-height:32px;float:left;font-family:Arial, Helvetica, sans-serif;font-size:1.75em;text-align:center;color:#fff;text-decoration:none;text-transform:none !important}
.main-banner-big .button:hover {color:#000}
.main-banner-small {background:url(../images/main-banner-small.jpg) no-repeat left top;width:950px;height:163px;margin-bottom:20px}
.main-banner-small .inner {padding:47px 0 0 52px}
.main-banner-small h1 {font-size:30px;width:350px}
/* extra-content */
#extra-content {background:#ededed;border-bottom:1px solid #fff;padding:20px 0 29px 0}
#extra-content .section {padding-bottom:20px}
#extra-content .box {background:url(../images/box1-bg.gif) left top repeat-x #fff;width:100%}
#extra-content .box .border-top {background:url(../images/border.gif) repeat-x top}
#extra-content .box .border-bot {background:url(../images/border.gif) repeat-x bottom}
#extra-content .box .border-left {background:url(../images/border.gif) repeat-y left}
#extra-content .box .border-right {background:url(../images/border.gif) repeat-y right}
#extra-content .box .left-top-corner {background:url(../images/left-top-corner1.gif) no-repeat left top}
#extra-content .box .right-top-corner {background:url(../images/right-top-corner1.gif) no-repeat right top}
#extra-content .box .left-bot-corner {background:url(../images/left-bot-corner1.gif) no-repeat left bottom;width:100%}
#extra-content .box .right-bot-corner {background:url(../images/right-bot-corner1.gif) no-repeat right bottom}
/* boxes */
.box {background:url(../images/box-bg.gif) left top repeat-x;width:100%}
.box .border-top {background:url(../images/border.gif) repeat-x top}
.box .border-bot {background:url(../images/border.gif) repeat-x bottom}
.box .border-left {background:url(../images/border.gif) repeat-y left}
.box .border-right {background:url(../images/border.gif) repeat-y right}
.box .left-top-corner {background:url(../images/left-top-corner.gif) no-repeat left top}
.box .right-top-corner {background:url(../images/right-top-corner.gif) no-repeat right top}
.box .left-bot-corner {background:url(../images/left-bot-corner.gif) no-repeat left bottom;width:100%}
.box .right-bot-corner {background:url(../images/right-bot-corner.gif) no-repeat right bottom}
.box .inner {padding:27px 35px 30px 34px}
.box1 {background:#ededed;width:100%}
.box1 .border-top {background:url(../images/border-top.gif) repeat-x top}
.box1 .border-bot {background:url(../images/border-bot.gif) repeat-x bottom}
.box1 .border-left {background:url(../images/border-left.gif) repeat-y left}
.box1 .border-right {background:url(../images/border-right.gif) repeat-y right}
.box1 .left-top-corner {background:url(../images/left-top-corner2.gif) no-repeat left top}
.box1 .right-top-corner {background:url(../images/right-top-corner2.gif) no-repeat right top}
.box1 .left-bot-corner {background:url(../images/left-bot-corner2.gif) no-repeat left bottom;width:100%}
.box1 .right-bot-corner {background:url(../images/right-bot-corner2.gif) no-repeat right bottom}
.box1 .inner {padding:27px 35px 30px 34px}
.dept-list {float:left}
.dept-list dd {clear:both;text-align:right}
.dept-list dd span {float:left;padding-right:25px}
.dept-list dd p {text-align:left}
/* footer */
#footer {color:#092451;padding:27px 0 30px 0}
#footer .nav {text-align:center;padding-bottom:30px}
#footer .nav li {display:inline}
#footer .nav li a {color:#fff;padding:0 52px 0 49px}
#footer .fleft {padding:0 0 0 44px; text-align:center;width:100%}
#footer .fright {padding:0 44px 0 0}
@media all and (max-width: 1180px) {
	.miVentana {
		width: 90% !important;
		max-width: 90% !important;
	}
}
@media all and (max-width: 1085px) {
	.miVentana {
		width: 85% !important;
		max-width: 85% !important;
	}
}
@media all and (max-width: 1035px) {
	.miVentana {
		width: 80% !important;
		max-width: 80% !important;
	}
}
@media all and (max-width: 985px) {
	.miVentana {
		width: 75% !important;
		max-width: 75% !important;
	}
}
@media all and (max-width: 935px) {
	.miVentana {
		width: 70% !important;
		max-width: 70% !important;
	}
}
@media all and (max-width: 885px) {
	.miVentana {
		width: 65% !important;
		max-width: 65% !important;
	}
}
@media all and (max-width: 835px) {
	.miVentana {
		width: 60% !important;
		max-width: 60% !important;
	}
}
@media all and (max-width: 785px) {
	.miVentana {
		width: 55% !important;
		max-width: 55% !important;
	}
}
@media all and (max-width: 735px) {
	.miVentana {
		width: 50% !important;
		max-width: 50% !important;
	}
}
@media all and (max-width: 685px) {
	.miVentana {
		width: 45% !important;
		max-width: 45% !important;
	}
}
@media all and (max-width: 635px) {
	.miVentana {
		width: 40% !important;
		max-width: 40% !important;
	}
}
@media all and (max-width: 585px) {
	.miVentana {
		width: 35% !important;
		max-width: 35% !important;
	}
}
@media all and (max-width: 535px) {
	.miVentana {
		width: 30% !important;
		max-width: 30% !important;
	}
}
@media all and (max-width: 485px) {
	.miVentana {
		width: 25% !important;
		max-width: 25% !important;
	}
}
@media all and (max-width: 435px) {
	.miVentana {
		width: 20% !important;
		max-width: 20% !important;
	}
}
@media all and (max-width: 385px) {
	.miVentana {
		width: 15% !important;
		max-width: 15% !important;
	}
}
@media all and (max-width: 335px) {
	.miVentana {
		width: 10% !important;
		max-width: 10% !important;
	}
}

@media all and (max-height: 610px) {
	.mi-alto {
		height: 90% !important;
		max-height: 90% !important;
	}
}
@media all and (max-height: 580px) {
	.mi-alto {
		height: 85% !important;
		max-height: 85% !important;
	}
}
@media all and (max-height: 550px) {
	.mi-alto {
		height: 80% !important;
		max-height: 80% !important;
	}
}
@media all and (max-height: 520px) {
	.mi-alto {
		height: 75% !important;
		max-height: 75% !important;
	}
}
@media all and (max-height: 490px) {
	.mi-alto {
		height: 70% !important;
		max-height: 70% !important;
	}
}
@media all and (max-height: 460px) {
	.mi-alto {
		height: 65% !important;
		max-height: 65% !important;
	}
}
@media all and (max-height: 430px) {
	.mi-alto {
		height: 60% !important;
		max-height: 60% !important;
	}
}
@media all and (max-height: 400px) {
	.mi-alto {
		height: 55% !important;
		max-height: 55% !important;
	}
}
@media all and (max-height: 370px) {
	.mi-alto {
		height: 50% !important;
		max-height: 50% !important;
	}
}
@media all and (max-height: 340px) {
	.mi-alto {
		height: 45% !important;
		max-height: 45% !important;
	}
}
@media all and (max-height: 310px) {
	.mi-alto {
		height: 40% !important;
		max-height: 40% !important;
	}
}
@media all and (max-height: 280px) {
	.mi-alto {
		height: 35% !important;
		max-height: 35% !important;
	}
}
.bordes{
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 0px solid #000000;
}